.footer {
    height: 70px;
    width: 100vw;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika', sans-serif;
    background-color: var(--principal);

}

.footer__container {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.footer__container p {
    color: var(--text-star);
    font-size: 1.2em;
}

.footer__container a i {
    color: var(--text-star);
    font-size: 2em;
    transition: .3s ease;
}

.footer__container a i:hover {
    filter: drop-shadow(1px 1px 1px #dad6d6);
}