html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    --principal: #fff;
    --backgroundBody: #f0f6f6;
    --text: #222222;
    --text-star: #000;
    --text-coment:rgb(63, 63, 63);
    --secundary_opacity-star: #ffecd0;
    --secundary_hover: #ffc368;
    --secundary: #e98c00;
    --secundary_opacity: #ffd699;
    
    background-color: var(--backgroundBody);
    overflow-x: hidden;
    padding-top: 70px;
    transition: .3s ease;
}

body.dark {
    --principal: #2d2f31;
    --backgroundBody: #393e41;
    --text: #dcd8d8;
    --text-star: #fff;
    --text-coment: rgb(158, 158, 158);
    --secundary_opacity-star: #5a6266;
    --secundary_hover: #dba656;
}